{% extends 'base.html.twig' %}

{% block body %}
	<a type="button" class="btn btn-success" href="/users">Back to users</a>
	<hr>
	<h2 class="page-header">Update user</h2>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{% endblock %}