
<br>
{% for data in datas %}
    <div style="text-align: center; margin-bottom: 40px">
        <h1 style="color: #500050">{{ data.title }}</h1>
        <a href="{{ data.url }}">{{ data.url }}</a>
    </div>

{% endfor %}

